body{color: white; background-color: violet;}
h1 {color: lightpink;}
#grande .interior em {
  color: white; 
  background-color: lightblue;}
h1 {color: lightpink;}
#f1 {color:lightblue;}
.f2 {color:lightgreen;}
b1 {color:aqua;}
b2 {color:lightskyblue;}
b3 {color:lightsteelblue;}