body{color: white; background-color: lightpurple;}
h1 {color: lightpink;}
#grande .interior em {
  color: white; 
  background-color: lightblue;}
h1 {color:lightgreen;}
#f1 {color:lightblue;}
.f2 {color:lightgreen;}